@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header,
.footer {
    padding: 8px 96px;
}

.hero,
.info,
.quote,
.call-to-action {
    padding: 64px 96px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 24px;
}



.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero p {
    margin: 4px 0 8px;
}

button {
    background-color: #3882F6;
    padding: 8px 24px;
    border-style: none;
    border-radius: 6px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero p,
.header li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.call-to-action {
    background-color: #3882F6;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 100px;
}

.card img {
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.card p {
    text-align: center;
    font-size: 10px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 14px;
    font-weight: 300;
    padding: 24px 0;
}